/*COLORS
lt-orange: #FFA630
dark-orange: #E4572E
teal: #4DA1A9
bright blue: #016FB9
magenta: #A62639
pale white: #4DA1A9*/

/*STANDARD STYLES*/
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffa630;
  font-family: "Quattrocento Sans", sans-serif;
  overflow: hidden;
}

.container {
  padding-top: 1%;
}

h2 {
  font-family: "Lobster", cursive;
  letter-spacing: 4px;
  text-align: center;
  color: white;
}

#loading {
  margin: 0 auto;
  text-align: center;
  margin-top: 40%;
  font-family: "Lobster", cursive;
  color: white;
}

#loading h1 {
  font-size: 10em;
}

/*NAVBAR*/

#navbar {
  margin-top: 1%;
  background-color: #e4572e;
  height: 100px;
  color: #f3e8ee;
  font-family: "Lobster", cursive;
}

#navbar h1 {
  letter-spacing: 4px;
  margin-left: 4%;
  margin-top: 2%;
  display: inline;
  line-height: 100px;
}

#logout-button {
  float: right;
  display: inline-block;
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
  border: none;
  color: #4da1a9;
  transition: 0.5s all;
}

#logout-button:hover {
  background-color: #4da1a9;
  color: white;
}

/*LOGIN PAGE*/

#title {
  margin-top: 10%;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 6em;
  color: white;
}

#login {
  height: 400px;
  background-color: #e4572e;
  width: 80%;
  margin: 5% auto;
  padding: 3% 2%;
}

#login form {
  margin-top: 5%;
}

form a {
  margin-bottom: 0;
  color: white;
  transition: 0.5s all;
}

form a:hover {
  color: #a62639;
}

.form-button {
  margin-top: 1%;
  background-color: white;
  color: #016fb9;
  border: none;
  transition: 0.75s all;
}

.form-button:hover {
  background-color: #4da1a9;
}

label.form {
  color: white;
}

input[type="text"],
input[type="password"] {
  background-color: #016fb9;
  border: none;
  font-family: inherit;
  color: white;
  letter-spacing: 2px;
}

/*SIGNUP PAGE*/

#signup {
  height: 530px;
  background-color: #e4572e;
  width: 80%;
  margin: 5% auto;
  padding: 3% 2%;
}

form .success {
  color: rgb(42, 191, 51);
}

form .no-success {
  color: rgb(221, 25, 25);
}

/*MODULES*/

.module-container {
  margin-top: 3%;
}

/*NOTES*/
#notes {
  background-color: #4da1a9;
  height: 500px;
  padding: 1%;
}

textarea {
  height: 100%;
  width: 100%;
  background-color: #f3e8ee;
  min-height: 40rem;
}

/*TO DO*/

#todo {
  background-color: #016fb9;
  padding: 1% 3%;
  height: 500px;
}

.task {
  background-color: #f3e8ee;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  text-align: center;
  font-size: 1.3em;
  box-shadow: 3px 3px 2px #025a95;
}

.task-delete {
  float: left;
  color: #a62639;
  cursor: pointer;
}

.tasks-container {
  height: 68%;
  overflow-y: scroll;
}

.tasks-container::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
}

.new-task {
  margin-top: 5%;
}

form {
  padding: 0;
  margin: 0;
}

.task input[type="text"] {
  border: none;
  border-bottom: 1px solid #e4572e;
  border-radius: 0;
  margin-bottom: 0;
  width: 90%;
  font-family: inherit;
  background-color: #00000000;
  color: #606c76;
}

.task input[type="text"]:focus.task {
  border-bottom: 1px solid #016fb9;
}

/*TRACKER BUTTON*/

#tracker {
  /*background-color: #a62639;*/
  height: 150px;
  text-align: center;
}

#tracker-title button {
  margin-top: 5%;
  height: 75px;
  width: 275px;
  background-color: #a62639;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 0.4em;
  transition: 0.5s all;
}

#tracker-title button:hover {
  background-color: white;
  color: #a62639;
}

/*TRACKER MODAL*/
#tracker-modal {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#tracker-container {
  height: 80%;
  width: 70%;
  background-color: #a62639;
  margin: 5% auto;
  text-align: center;
  padding: 1% 2%;
}

#tracker-title {
  color: white;
  font-family: "Lobster", cursive;
  letter-spacing: 4px;
  font-size: 2.9em;
}

#tracker-add {
  margin-top: 1%;
  height: 10%;
  background-color: white;
}

#tracker-close a {
  font-family: "Quattrocento Sans", sans-serif;
  float: right;
  color: white;
  font-size: 1.35em;
}

#tracker-close a:hover {
  cursor: pointer;
}

canvas {
  background-color: white;
  padding: 2%;
}

#tracker-add input {
  margin-top: 1%;
  margin-left: 2%;
}

#date-value,
#steps-value {
  width: 30%;
}

#date-value {
  background-color: #4da1a9;
  border: none;
  height: 3.8rem;
  border-radius: 0.4rem;
  color: white;
  font-family: inherit;
  letter-spacing: 2px;
  padding-left: 2%;
}

#steps-value::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#tracker-submit {
  width: 10%;
  padding-left: 2%;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 0.9em;
  background-color: #ffa630;
  border: none;
  transition: 0.5s all;
}

#tracker-submit:hover {
  background-color: #e4572e;
}

/* CHANGE THEME BUTTON  */

#change-theme {
  background-color: white;
  color: #4da1a9;
  border: none;
  border-radius: 10px;
  transition: 0.5s all;
}

#change-theme:hover {
  background-color: #4da1a9;
  color: white;
}

/* ANIMATIONS  */
.task-enter {
  opacity: 0.01;
}

.task-enter.task-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.task-leave {
  opacity: 1;
}

.task-leave.task-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}
